.s-welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.home {
      background-color: rgba($color-blue,.65);
  }

  &.services,
  &.about {
      background-color: $color-white;

      *{
          color: $color-black-4;
      }
  }

  &-logo {
      position: absolute;
      right: -100px;
      top: -150px;
      width: 747.54px;
      height: 769.89px;
      opacity: .5;
      transform: rotate(15deg);

      svg {
        height: 100%;
        width: 100%;
      }
  }

  &-title {
    font-weight: 400;
      width: 50%;
      color: $color-white;
      z-index: 1;

      @include tabletPortrait {
        width: 100%;
      }
  }

  &-subtitle {
      width: 50%;
      color: $color-white;
      z-index: 1;

      @include tabletPortrait {
        width: 100%;
      }
  }

  &-scroll {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      padding-top: 8px;
      border-top: solid 1px $color-white;
      color: $color-white;
      font-size: 12px;
      text-transform: uppercase;
      transform: rotate(-90deg);
  }
}